DATABASE_URL=your_db_uri
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_URL=your_auth_service_uri
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_BUSINESS_NAME=your_businessName
JWT_PUBLIC_KEY=your_jwt_public_key
